@import './../../../css/var';

$page-transition-time: 300ms;

.page_wrapper {
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.transition_enter {
    opacity: 0;
    transform: scale(1);
}

.transition_enter_active {
    opacity: 1;
    transform: scale(1);
    transition: opacity $page-transition-time, transform $page-transition-time;
}

.transition_exit {
    opacity: 1;
    transform: scale(1);
}

.transition_exit_active {
    opacity: 0;
    transform: scale(0.75);
    transition: opacity $page-transition-time, transform $page-transition-time;
}
