$page-transition-time: 3000ms;

.page_wrapper {
    background-color: #c00;
    height: 100%;
    position: absolute;
    width: 100%;
}

.transition_enter {
    opacity: 0;
    transform: scale(1);
}

.transition_enter_active {
    opacity: 1;
    transform: scale(1);
    transition: opacity $page-transition-time, transform $page-transition-time;
}

.transition_exit {
    opacity: 1;
    transform: scale(1);
}

.transition_exit_active {
    opacity: 0;
    transform: scale(0.75);
    transition: opacity $page-transition-time, transform $page-transition-time;
}
