.password_reset__form {
    display: block;
}

.password_reset__form__header {
    display: block;
    font-size: 16px;
    letter-spacing: 0.3px;
    padding-bottom: 37px;
}

.password_reset__form__button {
    background-color: #e8ecfa;
    border-radius: 22px;
    box-shadow: 0 6px 6px rgba(232, 236, 250, 0.7);
    box-sizing: border-box;
    color: #a6b0d5;
    display: block;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.4px;
    margin: 20px auto;
    max-width: 370px;
    min-height: 44px;
    text-align: center;
    width: 100%;

    &.password_reset__form__button__active {
        background-color: #6687fe;
        box-shadow: 0 6px 6px rgba(102, 135, 254, 0.71);
        color: #fff;
    }

    &.password_reset__form__button__is_in_progress {
        opacity: 0.4;
        pointer-events: none;
    }
}
