.password_reset_success__wrapper {
    display: block;
    padding: 52px 0;
}

.password_reset_success__image {
    display: block;
    margin: auto;
    padding-bottom: 48px;
    width: 257px;
}

.password_reset_success__title {
    display: block;
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 9px;
    text-align: center;
}

.password_reset_success__text {
    display: block;
    font-size: 16px;
    letter-spacing: 0.3px;
    padding-bottom: 14px;
    text-align: center;
}
