// @flow

.password_reset_success__wrapper {
    display: block;
}

.password_reset_success__image {
    display: block;
    margin: auto;
    width: 207px;
}

.password_reset_success__title {
    display: block;
}

.password_reset_success__text {
    display: block;
}
