//$main-font-family: 'MS Trebuchet', sans-serif;
$main-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
$main-font-size: 15px;
$main-line-height: 1.25;
$main-text-color: #101e54;

//$main-shadow-color: #212121;
$mui-unit: 8px;
